#display {
  display: flex;
  flex-direction: column;
  justify-content: center;   /* Center content vertically */
  align-items: center;       /* Center content horizontally */
  height: 100vh;
  width: 100vw;
  background-color: rgb(32, 32, 34);
}

#top {
  display: flex;
  align-items: center; 
  width: 95%;
  border-radius: 8px;
  height: 60vh;
}

#left {
  flex: 1;                        /* Take up space proportionally */
  margin-right: 20px;
  background-color: #272727;
  border-radius: 8px;
  padding: 3vw;
  height: 100%;
}

#shapes {
  display: flex;
  flex-direction: column;
}

.shapeButton {
  height: 15vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
}


input[type="file"] {
  display: none; /* Hide the file input element */
}

#drawing_area {
  flex: 2;                        /* Drawing area takes more space */
  text-align: center;
  background-color: #272727;
  padding: 3vw;
  border-radius: 8px;
  height: 100%;
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
}

#canvas {
  padding: 3vw;
  border-radius: 8px;
  height: 100%;
  background-image: url('./assets/StarOutline.png');
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
}

#footer {
  display: flex;
  width: 95%;
  text-align: center;
  margin-top: 10vh;
  border-radius: 8px;
}

#spacer {
  background-color: #272727;
  color: #272727;
  flex: 10

}

.clearButton {
  flex: 1;
  height: 5vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
}
