#display {
  display: flex;
  flex-direction: column;
  justify-content: center;   /* Center content vertically */
  align-items: center;       /* Center content horizontally */
  height: 100vh;
  width: 100vw;
  background-color: rgb(32, 32, 34);
}

#top {
  display: flex;
  align-items: center; 
  width: 95%;
  border-radius: 8px;
  height: 60vh;
}

#left {
  flex: 1;                        /* Take up space proportionally */
  margin-right: 20px;
  background-color: #272727;
  border-radius: 8px;
  padding: 1vw;
  height: 100%;
}

#shapes {
  display: flex;
  flex-direction: column;
}

.shapeButton {
  height: 15vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  /* background-image: url('./assets/StarOutline.png'); */
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
}

/* .upload-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  background-image: url('./assets/StarOutline.png');
} */
/* 
.upload-label:hover {
  background-color: #45a049;
}

input[type="file"] {
  display: none; /* Hide the file input element */


#drawing_area {
  flex: 3;                        /* Drawing area takes more space */
  text-align: center;
  background-color: #272727;
  padding: 3vw;
  border-radius: 8px;
  height: 100%;
  /* background-image: url('./assets/StarOutline.png'); */
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
}

#canvas {
  padding: 3vw;
  border-radius: 8px;
  height: 100%;
  background-image: url('./assets/StarOutline.png');
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
}

#footer {
  width: 95%;
  text-align: center;
  margin-top: 10vh;
  background-color: #272727;
  border-radius: 8px;
}