#display {
  display: flex;
  flex-direction: column;
  justify-content: center;   /* Center content vertically */
  align-items: center;       /* Center content horizontally */
  height: 100vh;
  width: 100vw;
  background-color: rgb(32, 32, 34);
  color: white;
}

#top {
  display: flex;
  align-items: center; 
  width: 95%;
  border-radius: 8px;
  height: 60vh;
}

h1 {
  z-index: 999;
}

#left {
  flex: 1;                        /* Take up space proportionally */
  margin-right: 20px;
  background-color: #272727;
  border-radius: 8px;
  padding: 3vw;
  height: 100%;
}

#shapes {
  display: flex;
  flex-direction: column;
}

.shapeButton {
  height: 15vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
}


input[type="file"] {
  display: none; /* Hide the file input element */
}

#drawing_area {
  flex: 2;                        /* Drawing area takes more space */
  text-align: center;
  background-color: #ffffff;
  padding: 3vw;
  border-radius: 8px;
  /* height: 100%; */
  height: 100vh;
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
}

#canvas {
  padding: 3vw;
  border-radius: 8px;
  height: 100%;
  /* background-image: url('./assets/StarOutline.png'); */
  background-position: center;
  background-size:30%;
  background-repeat: no-repeat;
}

#top2ah {
  display: flex;
  align-items: center; 
  width: 95%;
  border-radius: 8px;
  margin-top: 9vh;

}

#footer {
  display: none;
  flex: 1.03;
  /* width: 100%; */
  text-align: center;
  padding-right: 1.5vw;
  padding-left: 1.5vw;
  border-radius: 8px;
  background-color: #272727;

}

#spacer {
  flex: 2;
  text-align: center;
  padding-left: 3vw;
  margin-top: 5vh;
  border-radius: 8px;
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
}

.clearButton {
  height: 5vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding-bottom: 7%;
  background-color: aliceblue;
}

#excalidraw {
  overflow: hidden;
  position: fixed;
  height: 170vh;
  width: 100vw;
  left: 37vw;
  top: -35vh;

}  